@import url('./reset.css');

.label {
  text-transform: none;
}

.input-delay {
  width: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  font: inherit;
  padding: 8px 16px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 30px;
}
.input-delay:hover {
  border: 1px solid #000;
}
.input-delay:focus {
  border: 1px solid #4e75ff;
}
.input-delay:disabled {
  background: #fafafa;
  color: #808080;
  border: 1px solid #808080;
}

.fieldset {
  margin-bottom: 24px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  font: inherit;
  padding: 8px 16px;
  box-sizing: border-box;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.fieldset:hover,
.fieldset:focus {
  border: 1px solid #000;
}

.btn-notification {
  display: flex;
  padding: 8px 99px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-weight: 500;
  outline: none;
  border: none;
  width: 100%;
  letter-spacing: 0.64px;
  font-size: 16px;
  line-height: 24px;
}

.btn-notification:hover,
.btn-notification:focus {
  background: #6c8cff;
}
